<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Gossip no found</h1>
    <p>le gossip n° <%= id %> n'existe pas</p>

<p>si vous voulez <a href = "/gossips/new/">créer un nouveau potin</a></p>
<p><a href = "/">Lien</a> pour revenir à la page des potins</p>
  </body>
</html>